/* SLIDER */

.slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
}

.slider__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
}

.slider__track {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slider__items {
    display: flex;
    gap: var(--spacing-20);
    list-style: none;
    padding: 0;
    margin: 0;
    transition: transform 0.5s ease-in-out;
}

.slider__item {
    min-width: 33.333%;
    flex-shrink: 0;
}

.slider__arrows {
    display: flex;
    justify-content: center;
    gap: var(--spacing-20);
    margin-top: var(--spacing-36);
}

.slider__arrow {
    background: none;
    border: none;
    cursor: pointer;
    font-size: var(--font-large);
    color: var(--dark-bg-solid);
    font-weight: 700;
    padding: var(--spacing-8) var(--spacing-16);
    transition: color 0.3s ease;
}

.slider__arrow:hover {
    color: var(--primary-solid);
}

.slider__arrow--left {
    left: 0;
}

.slider__arrow--right {
    right: 0;
}

